
/*--CONTACTO---------------------------------------------------------------------------*/
.contactonombre{
    margin-top: 180px;
    text-align: center;
    color: rgb(129, 129, 129);
    border-bottom: solid 1px rgb(129, 129, 129);
    font-family:Arial, Helvetica, sans-serif
}

/*--Celular-------------------------------*/
@media screen and (max-width: 480px){
    .contactonombre{
    margin-top: 180px;
    }
}
/*---------------------------------------*/
#nombre:hover, #correo:hover, #telefono:hover, #dni:hover{
    transform: scale(1.2,1.2);
}

.formulario1{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(to left, rgb(0, 170, 164), black, rgb(178, 0, 160));
    padding: 50px;
    
}

.formulario2{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(to left, rgb(0, 170, 164), black, rgb(178, 0, 160));
    padding: 50px;
   
}

.formulario3{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(to left, rgb(0, 170, 164), black, rgb(178, 0, 160));
    padding: 50px;
  
}

.formulario4{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(to left, rgb(0, 170, 164), black, rgb(178, 0, 160));
    padding: 50px;
  
}
#mensaje{
    color: white;
border: solid 2px rgb(255, 255, 255);
background-color: rgba(0, 0, 0, 0.585);
}
#enviar, #resetear{
    border: none;
    color: rgb(162, 162, 162);
    background-color: rgba(0, 0, 0, 0.585);
}
#enviar:hover, #resetear:hover{
    transform: scale(1.2, 1.2);
}


.padreenviarmensajes{
margin: 20px;
}

.margenmensaje{
    display: flex;
justify-content: center;
}

.enviaryeliminar{    
    display: flex;
justify-content: center;
}


/*-------------------------------------------------------------------------------------------*/