/*--GALERIA----------------------------------------------------------------------------*/

.nombregaleriafotos{
    margin-top: 180px;
    text-align: center;
    color: rgb(129, 129, 129);
    border-bottom: solid 1px rgb(129, 129, 129);
    font-family:Arial, Helvetica, sans-serif
}

/*--Celular-------------------------------*/
@media screen and (max-width: 480px){
    .nombregaleriafotos{
    margin-top: 180px;
    }   
}
/*----------------------------------------*/

.galeriafotos{
    display: flex;
    margin: 20px; 
}

.fondodepantalla{
    width: 100%;
}

.padregaleriafotos{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*-------------------------------------------------------------------------------------*/
