/*--SOBRENOSOTROS---------------------------------------------------------------------*/

.sobrenosotros{
    margin-top: 155px;
    text-align: center;
    color: rgb(129, 129, 129);
    border-bottom: solid 1px rgb(129, 129, 129);
    font-family:Arial, Helvetica, sans-serif
}

/*--Celular-------------------------------*/
@media screen and (max-width: 480px){
    .sobrenosotros{
        margin-top: 180px;
    }  
}
/*---------------------------------------*/

.descripcion-padre{
    text-align: center;
    color: white;
}

.descripcion-hijo{
    font-size: 20px;
}

.fotodenosotros{
    display: flex;
    justify-content: center;
    text-align: center;
}

.fotoniño{
    width: 60%;  
}

/*--Celular-------------------------------*/
@media screen and (max-width:480px){
.fotoniño{
    width: 100%;
 }
}
/*---------------------------------------*/
/*-------------------------------------------------------------------------------------*/
